@import url(./fonts.css);

/* DESIGN SYSTEM */

:root {
    --red: #EA5454;
    --aqua: #44D3D2;
    --orange: #FCAE4A;
    --blue: #549EF2;
    --grey: #4D4F62;
    --poppins: "Poppins";
}

/* GLOBAL STYLE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


.container{
    max-width: 1174px;
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    margin: auto;
}
